<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<!-- menu -->
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="form.html">Поиск</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>

    <!-- main article -->
    <article>

        <h1>Проект - парсинг HH</h1>
        <p class="lead">Веб-оберртка над поиском в HH</p>
        <p>Краткое опиание проекта будет тут</p>
    </article>


</body>
</html>

